<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo cl-pink font-weight-bold">
            <h1>MoLo<span>.</span></h1>
        </a>

        <nav class="navbar justify-content-center align-items-center">
            <ul class="nav-list d-flex align-items-center justify-content-between m-0 container">
                <li class="nav-item position-relative">
                    <a class="nav-link fs-14 fb-500 dropdown-toggle"
                       href="#"
                       role="button"
                       id="cinemaDropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Rạp chiếu
                    </a>

                    <div class="dropdown-menu" aria-labelledby="cinemaDropdown">
                        <a class="dropdown-item" href="#">CGV</a>
                        <a class="dropdown-item" href="#">Beta Cinemas</a>
                        <a class="dropdown-item" href="#">BHD Star</a>
                        <a class="dropdown-item" href="#">Lotte Cinema</a>
                        <a class="dropdown-item" href="#">Galaxy Cinema</a>
                    </div>
                </li>
                <li class="nav-item position-relative">
                    <a class="nav-link fs-14 fb-500 dropdown-toggle"
                       href="#"
                       role="button"
                       id="calendarDropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Lịch chiếu
                    </a>

                    <div class="dropdown-menu" aria-labelledby="calendarDropdown">
                        <a class="dropdown-item" href="#">Phim đang chiếu</a>
                        <a class="dropdown-item" href="#">Phim sắp chiếu</a>
                    </div>
                </li>
                <li class="nav-item position-relative">
                    <a class="nav-link fs-14 fb-500 dropdown-toggle"
                       href="#"
                       role="button"
                       id="blogDropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Blog điện ảnh
                    </a>

                    <div class="dropdown-menu" aria-labelledby="blogDropdown">
                        <a class="dropdown-item" href="#">Phim chiếu rạp</a>
                        <a class="dropdown-item" href="#">Review phim</a>
                        <a class="dropdown-item" href="#">Top phim</a>
                        <a class="dropdown-item" href="#">Phim Netflix</a>
                    </div>
                </li>
                <li class="nav-item position-relative">
                    <a class="nav-link fs-14 fb-500 dropdown-toggle"
                       href="#"
                       role="button"
                       id="userDropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span>
                            <img src="../LayoutTicket/assets/img/user.png" alt="" class="user-avatar" />
                            Username
                        </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="#">Vé của tôi</a>
                        <a class="dropdown-item" href="#">trợ giúp</a>
                        <a class="dropdown-item separate-top" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </nav>

        <button class="mobile-menu_btn hide-on-pc bg-white">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="mobile-menu-close_btn hide-on-pc bg-white">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</header>